---
import "../styles/global.css";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

import { Nav } from "../components/components";

const { metadata } = Astro.props;
const banner = metadata.banner;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*/*.{jpeg,jpg,png,gif}",
);
if (!images[banner])
  if (banner) {
    throw new Error(
      `"${banner}" does not exist in glob: "src/assets/*/*.{jpeg,jpg,png,gif}"`,
    );
  }
const ISO_date = new Date(metadata.date);
const date = ISO_date.toISOString().substring(0, 10);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{metadata.title}</title>
  </head>
  <body class="flex flex-col w-screen min-h-screen">
    <div
      class="absolute inset-0 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:24px_24px] z-0"
    >
    </div>
    <div class="relative overflow-hidden">
      <Nav client:load />
      <div class="w-full h-full flex flex-col justify-center items-center">
        <div class="w-full max-h-72">
          {
            banner ? (
              <Image
                src={images[banner]()}
                alt={metadata.title}
                class="w-full max-h-72 object-contain border-b"
              />
            ) : (
              <Image
                src={images["/src/assets/banners/default.png"]()}
                alt="abstract background"
                class="w-full max-h-72 object-cover border-b"
              />
            )
          }
        </div>

        <div class="max-w-3xl p-4 prose prose-lg prose-neutral prose-violet">
          <h1>{metadata.title}</h1>
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
